.fallbackContainer {
  display: inline-block;
  background-color: #f3f4f6;
  text-align: center;
  vertical-align: middle;
}

.fallbackContent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.errorImage {
  /* Error image styles */
}
