# Server Configuration
SERVER_PORT=3001

# Client Configuration
CLIENT_PORT=3000
PORT=3002

# PostgreSQL Database Configuration
# Используйте тестовые данные только для локальной разработки
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=forum_db

# Client Server URLs (для связи между клиентом и сервером)
EXTERNAL_SERVER_URL=http://localhost:3001
INTERNAL_SERVER_URL=http://server:3001

# Node Environment
NODE_ENV=development

# Node Version (опционально, для Docker build args)
NODE_VERSION=20

