@use '/src/styles/globals' as *;
@use '/src/styles/mixins' as *;
a{
  text-decoration: none;
}
nav{
  display: flex;
  height: 61px;
  border: 2px solid var(--border);
  background-color: var(--sidebar);
  .main{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: transparent;
  }
a{
  &:hover {
   @include primary
  }

  &.active {
    @include primary
  }
}
}