@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.wrapper {
  $spacing: 1.5rem;
  margin-bottom: $spacing;

  .header {
    @include flex-center;
    justify-content: space-between;
  }

  .title {
    @include flex-center;
    gap: $spacing;
    margin-bottom: $spacing;

    .icon {
      width: $spacing;
      height: $spacing;
      color: $primary;
      @include cyan-glow;
    }

    h2 {
      @include stalker-text;
    }

    p {
      color: $stalker-text-dim;
      font-size: $font-size-xs;
      font-family: $font-family-mono;
      text-transform: uppercase;
    }
  }
}
