.input {
  padding: 8px 12px;
  box-sizing: border-box;
  border: 1px solid var(--stalker-border);
  background: #1a1e1ccc;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--stalker-text);
  transition: all 0.3s ease;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--stalker-cyan);
  }

  &.withIcon {
    padding-left: 40px;
  }
}

.label {
  color: rgba(106, 122, 106, 1);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.inputWrapper {
  width: 100%;
}
