@use '/src/styles/variables' as *;
@use '/src/styles/mixins' as *;

.content{
  margin-top: 20px;
  @include flex-center;
  button{
    margin-left: 5px;
    height: 32px;
    padding: 8px 16px;
    @include secondary;
    &:hover{
      @include primary;
      @include cyan-glow
    }
  }
}