@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.container {
  background-color: $stalker-dark;
  min-height: 100vh;
  position: relative;
}

.fogOverlay {
  @include fog-overlay;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.content {
  position: relative;
  margin-inline: auto;
  padding: 2rem 1rem;
  max-width: 72rem;
}
